In [32]:
import pandas as pd

In [33]:
df=pd.read_excel("itics_practice 1.xlsx")
print(df.head())

           ISIN               Company_Name Company_Id       Status  \
0  AEA000201011  Abu Dhabi Commercial Bank   108123-C  QC Approved
1  AEA000201011  Abu Dhabi Commercial Bank   108123-C  QC Approved
2  AEA000201011  Abu Dhabi Commercial Bank   108123-C  QC Approved
3  AEA000201011  Abu Dhabi Commercial Bank   108123-C  QC Approved
4  AEA000201011  Abu Dhabi Commercial Bank   108123-C  QC Approved

  Fy_Ending_Date  level1_Code  level1_Name  level2_Code  \
0     2023-12-31          105  Real Estate        10516
1     2023-12-31          101      Banking        10103
2     2023-12-31          101      Banking        10103
3     2023-12-31          101      Banking        10102
4     2023-12-31          101      Banking        10102

                    level2_Name                  AR_Classification  \
0                   Real Estate                Property management
1  Corporate/Commercial Banking           Investments and treasury
2  Corporate/Commercial Banking  Corporate and investment banking
3                Retail Banking                    Private banking
4                Retail Banking                     Retail banking

   Yearly_Revenue  Revenue  Revenue_Percentage Revenue_Classification  \
0        16866433   374415            2.219882          Marginal Play
1        16866433  4531655           26.867891             Quasi Play
2        16866433  5906522           35.019390             Quasi Play
3        16866433  1318256            7.815855          Marginal Play
4        16866433  4735585           28.076979             Quasi Play

  Currency Currency_Value Country_Of_Incorporation
0      AED       Thousand     United Arab Emirates
1      AED       Thousand     United Arab Emirates
2      AED       Thousand     United Arab Emirates
3      AED       Thousand     United Arab Emirates
4      AED       Thousand     United Arab Emirates

In [54]:
changed_rows=df.copy()
changed_rows = df.copy()
changed_rows= changed_rows[changed_rows['Revenue']<=374412 ]
changed_rows=changed_rows[changed_rows['level1_Name']=="Banking"]

In [55]:
print(changed_rows.shape[0])

8